# Ignora tutto
*

# Ma NON 
!package.json
!package-lock.json
!next.config.js
!tsconfig.json
!start.sh
!migrations/**
!migrate-mongo-config.js
!public/**
!.next/**
!lib/**
!pages/**
!styles/**
!components/**
!generated/**
!locales/**

