.count {
    font-size: 0.5em;
}

.border {
    border: 2px solid #000;
}

.indent {
    padding-left: 0.5em;
}

.admin {
    background-color: #e5e85e;
    border-radius: 5px;
}

.superadmin {
    background-color: #fb7d6f;
    border-radius: 5px;
}

.uso-esclusivo {
    color: rgba(55, 55, 55, 0.624);
}

.hideBlock {
    /* Con display none, se provo a stampare un grafico che non era visualizzato 
     * nella pagina, su chrome dà errore, probabilmente perché il grafico non c'è
     * e viene stampato con una animazione quando lo si visualizza.
     * per questo motivo si mette height: 0 e overflow hidden
     * */
    /* display: none; */ 
    overflow: hidden; height: 0; /* hack per nascondere senza dare problemi con la stampa */
}

.avoid-break-before {
    page-break-before: avoid;
    break-before: avoid;
}

.avoid-break-inside {
    page-break-inside: avoid;
    break-inside: avoid;
}

@media print {
    .noPrint {
        display: none;
    }

    .hideBlock{
        /* display: "block"; */
        overflow: hidden; height: auto;
    }
}

