.count {
    font-size: 0.5em;
}

.border {
    border: 2px solid #000;
}

.indent {
    padding-left: 0.5em;
}

.admin {
    background-color: #e5e85e;
    border-radius: 5px;
}

.superadmin {
    background-color: #fb7d6f;
    border-radius: 5px;
}

.uso-esclusivo {
    color: rgba(55, 55, 55, 0.624);
}